@import '../variables.scss';

.header {
  margin: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  border-bottom: 1px solid #F1F1F1;
}
.user-name{
  font-family: $font-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #000000;
}

.user-block{
  display: flex;
}

.header .icon{
  margin-right: 20px;
  padding: 6px;
  cursor: pointer;
  &:hover{
    background: #F8F8F8;
    border-radius: 3px;
  }
}

.user-img {
  background: #C4C4C4;
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 8px;
  width: 24px;
  height: 24px;
}